<div ng-view="" class="master" style="">
    <div ng-if="vm.user" class="profile centered">
        <tg-profile-bar user="vm.user" iscurrentuser="vm.isCurrentUser">
            <section class="profile-bar">
                <div class="profile-image-wrapper is-current-user">
                    <% if @profile.avatar.attached? %>
                        <%= image_tag @profile.avatar.variant(:profileShow) %>
                    <% else %>
                        <img tg-avatar-big="vm.user" alt="Profile picture" class="profile-img" src="https://www.gravatar.com/avatar/75bc64a04cf29ae6dd87d3958455e16d?s=200&amp;d=https%3A%2F%2Ftree.taiga.io%2Fv-1678696193151%2Fimages%2Fuser-avatars%2Fuser-avatar-05.png" title="Profile picture" style="background: rgb(183, 203, 131);">
                    <% end %>
                    <% if @profile.email == current_user.email %>
                        <a title="User Settings" tg-nav="user-settings-user-profile" translate="USER.PROFILE.USER_SETTINGS" class="profile-edition" href="<%= profile_edit_view_path(@profile.email) %>">User Settings</a>
                    <% end %>
                </div>
                <div class="profile-data">
                    <h1 class="not-full-name"><%= @profile.username %></h1>
                    <div class="username" style="word-wrap: break-word;"><%= @profile.email %></div>
                </div>
                <% if @profile.bio.length != 0 %>
                    <div class="profile-quote" style="background: url(https://tree.taiga.io/v-1678696193151/images/quote.png) no-repeat top left">
                        <span><%= @profile.bio %></span>
                    </div>
                <% end %>
            </section>
        </tg-profile-bar>
        <div class="main">
                    </tg-profile-bar>
        <div class="main">
            <tg-profile-tabs class="timeline-wrapper">
                <div>
                <nav class="profile-content-tabs">
                    <a href="<%= profile_page_path(@profile.email) %>"title="Show all the activity of this user" class="tab" style="">
                    <span>Timeline</span>
                    </a>
                    <a href="<%= profile_issues_watched_path(@profile.email) %>"title="List all issues watched by this user" class="tab" style="">
                    <span>Issues Watched</span>
                    </a>
                    <a href="<%= profile_api_key_view_path(@profile.email) %>"title="List all issues watched by this user" class="tab active" style="">
                    <span>API Key</span>
                    </a>
                </nav>
                <ng-transclude>
                    <section class="profile-favs">
                        <p></p>
                        <h1>API Key</h1>
                        <p><%= @profile.api_key %> </p>
                    </section>
                </ng-transclude>

                </div>
            </tg-profile-tabs>
            
            <aside class="profile-sidebar">
                <% if @profile.email == current_user.email %>
                    <div ng-if="::vm.isCurrentUser">
                        <h4 translate="USER.PROFILE_SIDEBAR.TITLE">Your profile</h4>
                        <p translate="USER.PROFILE_SIDEBAR.DESCRIPTION">People can see everything you do and what you are working on. Add a nice bio to give an enhanced version of your information.</p>
                        <a href="<%= profile_edit_view_path(@profile.email) %>" class=btn-big edit-profile">Edit bio</a>
                    </div>
                <% end %>
                <div tg-profile-hints="tg-profile-hints" class="profile-hints">
                    <h4>
                        <span translate="HINTS.SECTION_NAME">Hint</span>
                    </h4>
                    <p>Did you forget what were you working on?</p>
                    <p>
                        Don't worry, on your dashboard you'll find your open tasks, issues, and user stories in the order you worked on them.
                        &nbsp;
                    </p>
                </div>
            </aside>
        </div>
    </div>
</div>