<div ng-view="" class="master" style="">
   <div tg-user-profile="" ng-controller="UserSettingsController as ctrl" ng-init="section='user-settings'" class="wrapper">
        <sidebar tg-user-settings-navigation="user-profile" class="menu-secondary sidebar settings-nav">
            <section class="admin-menu">
                <nav>
                    <ul>
                        <li id="usersettingsmenu-user-profile" class="active" style="border-bottom: 1px solid #a9aabc;"><a href="#" tg-nav="user-settings-user-profile" title="User Settings"><span translate="USER_SETTINGS.MENU.SECTION_TITLE" class="title">User Settings</span></a></li>
                    </ul>
                </nav>
            </section>
        </sidebar>
        <section class="main user-profile">
            <header>
                <header>
                <h1 tg-main-title="" i18n-section-name="USER_SETTINGS.MENU.SECTION_TITLE"><span>User Settings</span></h1>
                </header>
            </header>
            <form method="post" action="<%= profile_update_path(@profile.email) %>" enctype="multipart/form-data" class="ng-pristine ng-valid ng-valid-required ng-valid-maxlength ng-valid-email">
                <input type="hidden" name="_method" value="put" />

                <div tg-user-avatar="" class="project-details-image">
                    <fieldset class="image-container">
                        <% if @profile.avatar.attached? %>
                            <%= image_tag @profile.avatar.variant(:profileEdit) %>
                        <% else %>
                            <img tg-avatar-big="vm.user" alt="Profile picture" class="profile-img" src="https://www.gravatar.com/avatar/75bc64a04cf29ae6dd87d3958455e16d?s=200&amp;d=https%3A%2F%2Ftree.taiga.io%2Fv-1678696193151%2Fimages%2Fuser-avatars%2Fuser-avatar-05.png" title="Profile picture" style="background: rgb(183, 203, 131);">
                        <% end %>
                        <input type="file" id="avatar-field" tg-avatar-model="avatarAttachment" class="hidden">
                    </fieldset>
                    <fieldset>
                        <label for="avatar" class="btn-small button-full js-change-avatar">Change avatar</label>
                        <input type="file" id="avatar" name="avatar" accept="image/png, image/jpeg" style="visibility:hidden; display: none;">
                    </fieldset>
                </div>

                <div class="project-details-form-data">
                    <fieldset>
                        <label for="email" translate="USER_PROFILE.FIELD.EMAIL">Email</label>
                        <input readonly value="<%= @profile.email %>" type="text" name="email" id="email" ng-model="user.email" data-type="email" data-required="true" data-maxlength="255" class="ng-pristine ng-untouched ng-valid ng-not-empty ng-valid-email ng-valid-required ng-valid-maxlength" aria-invalid="false">
                    </fieldset>
                    <fieldset>
                        <label for="username" translate="USER_PROFILE.FIELD.USERNAME">Username</label>
                        <input value="<%= @profile.username %>" type="text" autocorrect="off" autocapitalize="none" name="username" id="username" ng-model="user.username" data-required="true" data-maxlength="25" data-regexp="^[\w.-]+$" class="ng-pristine ng-untouched ng-valid ng-not-empty ng-valid-required ng-valid-maxlength" aria-invalid="false">
                    </fieldset>
                    <fieldset>
                        <label for="bio" translate="USER_PROFILE.FIELD.BIO">Bio (max. 210 chars)</label>
                        <textarea type="text" name="bio" id="bio" maxlength="210" class="ng-pristine ng-untouched ng-valid ng-empty ng-valid-maxlength" aria-invalid="false"><%= @profile.bio %></textarea>
                    </fieldset>
                    <fieldset class="submit">
                        <button variant="primary" type="submit" title="Save" translate="COMMON.SAVE" class="btn-small">Save</button>
                    </fieldset>
                </div>
            </form>
        </section>
    </div>
</div>