<div ng-view="" class="master" style="">
    <div ng-if="vm.user" class="profile centered">
        <tg-profile-bar user="vm.user" iscurrentuser="vm.isCurrentUser">
            <section class="profile-bar">
                <div class="profile-image-wrapper is-current-user">
                    <% if @profile.avatar.attached? %>
                        <%= image_tag @profile.avatar.variant(:profileShow) %>
                    <% else %>
                        <img tg-avatar-big="vm.user" alt="Profile picture" class="profile-img" src="https://www.gravatar.com/avatar/75bc64a04cf29ae6dd87d3958455e16d?s=200&amp;d=https%3A%2F%2Ftree.taiga.io%2Fv-1678696193151%2Fimages%2Fuser-avatars%2Fuser-avatar-05.png" title="Profile picture" style="background: rgb(183, 203, 131);">
                    <% end %>
                    <% if @profile.email == current_user.email %>
                        <a title="User Settings" tg-nav="user-settings-user-profile" translate="USER.PROFILE.USER_SETTINGS" class="profile-edition" href="<%= profile_edit_view_path(@profile.email) %>">User Settings</a>
                    <% end %>
                </div>
                <div class="profile-data">
                    <h1 class="not-full-name"><%= @profile.username %></h1>
                    <div class="username" style="word-wrap: break-word;"><%= @profile.email %></div>
                </div>
                <% if @profile.bio.length != 0 %>
                    <div class="profile-quote" style="background: url(https://tree.taiga.io/v-1678696193151/images/quote.png) no-repeat top left">
                        <span><%= @profile.bio %></span>
                    </div>
                <% end %>
            </section>
        </tg-profile-bar>
        <div class="main">
                    </tg-profile-bar>
        <div class="main">
            <tg-profile-tabs class="timeline-wrapper">
                <div>
                <nav class="profile-content-tabs">
                    <a href="<%= profile_page_path(@profile.email) %>"title="Show all the activity of this user" class="tab" style="">
                    <span>Timeline</span>
                    </a>
                    <a href="<%= profile_issues_watched_path(@profile.email) %>"title="List all issues watched by this user" class="tab active" style="">
                    <span>Issues Watched</span>
                    </a>
                    <% if @profile.email == current_user.email %>
                        <a href="<%= profile_api_key_view_path(@profile.email) %>"title="List all issues watched by this user" class="tab" style="">
                            <span>API Key</span>
                        </a>
                    <% end %>
                </nav>
                <ng-transclude>

                    <div tg-profile-tab="Watched" tab-title="List all item watched by this user" tab-icon="icon-watch" tab-active="tab-active">
                        <div ng-if="tab.active" class="" style="">
                            <ng-transclude>
                                <div tg-profile-watched="tg-profile-watched" user="vm.user">
                                    <section class="profile-favs">
                                        <div infinite-scroll="vm.loadItems()" infinite-scroll-disabled="vm.scrollDisabled">

                                            <% @watchedIssues.each do |watchedIssue| %>

                                                <div ng-switch-when="issue" tg-fav-item="item" item-type="issue">
                                                    <div ng-class="{'blocked-project': vm.item.get('project_blocked_code')}" class="list-itemtype-ticket">
                                                        <a href="#" ng-if="::vm.item.get('assigned_to')" tg-nav="user-profile:username=vm.item.get('assigned_to_username')" title="Asier Escofet" class="list-itemtype-avatar"><img tg-avatar="vm.item.get('assigned_to_extra_info')" alt="Asier Escofet" src="https://www.gravatar.com/avatar/75bc64a04cf29ae6dd87d3958455e16d?s=200&amp;d=https%3A%2F%2Ftree.taiga.io%2Fv-1678696193151%2Fimages%2Fuser-avatars%2Fuser-avatar-05.png" title="Asier Escofet" style="background: rgb(183, 203, 131);"></a>
                                                        <div class="list-itemtype-ticket-data">
                                                            <div class="list-itemtype-data-meta">
                                                                <span class="ticket-project"><%= watchedIssue.issue.project.name %></span>
                                                                <span class="ticket-type">Issue</span>
                                                                <% if watchedIssue.issue.open?  %>
                                                                    <span class="ticket-status" style="color: grey";">Open</span>
                                                                <% elsif watchedIssue.issue.in_progress? %>
                                                                    <span class="ticket-status" style="color: lightblue";">In Progress</span>
                                                                <% elsif watchedIssue.issue.testing? %>
                                                                    <span class="ticket-status" style="color: yellow";">Testing</span> 
                                                                <% elsif watchedIssue.issue.reopened? %>
                                                                    <span class="ticket-status" style="color: purple";">Reopened</span>
                                                                <% elsif watchedIssue.issue.resolved? %>
                                                                    <span class="ticket-status" style="color: lightgreen";">Closed</span>
                                                                <% end %>
                                                            </div>
                                                            <div class="list-itemtype-data-title">
                                                                <span tg-bo-ref="vm.item.get('ref')" class="ticket-id">#<%= watchedIssue.issue.id %></span>
                                                                <a href="<%= issue_path(watchedIssue.issue.project_id, watchedIssue.issue.id) %>" class="ticket-title"><%= watchedIssue.issue.subject %></a>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>

                                            <% end %>

                                        </div>
                                    </section>
                                </div>
                            </ng-transclude>
                        </div>
                    </div>
                </ng-transclude>
                </div>
            </tg-profile-tabs>
            
            <aside class="profile-sidebar">
                <% if @profile.email == current_user.email %>
                    <div ng-if="::vm.isCurrentUser">
                        <h4 translate="USER.PROFILE_SIDEBAR.TITLE">Your profile</h4>
                        <p translate="USER.PROFILE_SIDEBAR.DESCRIPTION">People can see everything you do and what you are working on. Add a nice bio to give an enhanced version of your information.</p>
                        <a href="<%= profile_edit_view_path(@profile.email) %>" class=btn-big edit-profile">Edit bio</a>
                    </div>
                <% end %>
                <div tg-profile-hints="tg-profile-hints" class="profile-hints">
                    <h4>
                        <span translate="HINTS.SECTION_NAME">Hint</span>
                    </h4>
                    <p>Did you forget what were you working on?</p>
                    <p>
                        Don't worry, on your dashboard you'll find your open tasks, issues, and user stories in the order you worked on them.
                        &nbsp;
                    </p>
                </div>
            </aside>
        </div>
    </div>
</div>