<% content_for :sidebar do %>
  <%= render partial: "layouts/sidebar" %>
<% end %>


<div class="master" style="">
  <div class="wrapper">



    <div class="main-detail" style="flex: 1">
      <div class="detail-header-container">
        <div class="detail-header">
          <div ng-class="{readonly: !vm.permissions.canEdit}" class="detail-title-wrapper ">
            <h2 ng-show="!vm.editMode" ng-hide="vm.editMode" class="detail-title-text ng-animate-disabled" aria-hidden="false">
                <div class="detail-ref">#<%= @issue.id %></div>
                <span ng-click="vm.editSubject(true)" ng-if="vm.permissions.canEdit" ng-bind-html="vm.item.subject | emojify" class="detail-subject" role="button" tabindex="0" style=""><%= @issue.subject %></span>
                
                <a href="" ng-if="vm.permissions.canEdit" ng-click="vm.editSubject(true)" class="detail-edit" style="">
                  <tg-svg svg-icon="icon-edit" class="">
                      <svg class="icon icon-edit" style="fill: ">
                        <use xlink:href="#icon-edit" ng-attr-xlink:href="{{ '#' + svgIcon }}" ng-attr-href="{{ '#' + svgIcon }}" href="#icon-edit">
                        </use>
                      </svg>
                  </tg-svg>
                </a>
            </h2>
          </div>
          <div class="detail-project">
            <div class="section-name">Issue</div>
          </div>

          <% if @issue.blocked? %>
            <div class="detail-header-line block-desc-container">
              <span>
                <span translate="COMMON.BLOCKED" class="block-description-title">Blocked</span>
              </span>
            </div>
          <% end %>

        </div>


        <tg-tag-line ng-if="issue &amp;&amp; project" project="project" item="issue" permissions="modify_issue" class="tags-block">
          <tg-tag-line-common project="vm.project" tags="vm.item.tags" permissions="modify_issue" loading-remove-tag="vm.loadingRemoveTag" loading-add-tag="vm.loadingAddTag" on-add-tag="vm.onAddTag(name, color)" on-delete-tag="vm.onDeleteTag(tag)" class="tags-block">
              <div class="tags-container">
              </div>
          </tg-tag-line-common>
        </tg-tag-line>
        <tg-created-by-display ng-model="issue" class="ticket-created-by ng-pristine ng-untouched ng-valid ng-not-empty" aria-invalid="false" style="">
          <div class="created-by">
              <a href="/profile/<%= @issue.user.email %>" title="Asier Escofet" translate="COMMON.CREATED_BY" translate-values="{ 'fullDisplayName': owner.full_name_display}" class="created-title">Created by <%= @issue.user.username %></a>
              <div class="created-date"><%= (@issue.created_at + Time.parse("02:00:00").seconds_since_midnight.seconds).strftime('%H:%M - %d/%m/%Y') %></div>
          </div>
          <div class="user-avatar"><a href="profile/asieresco" title="Asier Escofet"><img ng-style="{'background': owner.bg}" alt="Asier Escofet" ng-src="https://www.gravatar.com/avatar/75bc64a04cf29ae6dd87d3958455e16d?s=200&amp;d=https%3A%2F%2Ftree.taiga.io%2Fv-1678696193151%2Fimages%2Fuser-avatars%2Fuser-avatar-05.png" src="https://www.gravatar.com/avatar/75bc64a04cf29ae6dd87d3958455e16d?s=200&amp;d=https%3A%2F%2Ftree.taiga.io%2Fv-1678696193151%2Fimages%2Fuser-avatars%2Fuser-avatar-05.png" style="background: rgb(183, 203, 131);"></a></div>
        </tg-created-by-display>

      </div>

      <div class="detail-content">
        <tg-item-wysiwyg type="issue" model="issue" required-perm="modify_issue">
          <div>
              <tg-wysiwyg ng-if="editableDescription &amp;&amp; project" html-read-mode="true" project="project" placeholder="'COMMON.DESCRIPTION.EMPTY '| translate" version="version" storage-key="storageKey" content="item.description" on-save="saveDescription(text, cb)" on-upload-file="uploadFiles">
                <div ng-class="{'edit-mode': editMode, 'read-mode': !editMode, 'html-read-mode': htmlReadMode}" class="editor read-mode html-read-mode">
                    <div ng-if="!markdown.length" class="wysiwyg js-wysiwyg-html">
                      <%= form_for @issue, url: {action: 'update', id: @issue.id}, method: :put do |f| %>
                        <% if @issue.description.length() != 0 %>
                          <%= f.text_area :description, :value => @issue.description %>
                        <% else %>
                          <%= f.text_area :description, :placeholder => 'Empty space is so boring... go on, be descriptive...' %>
                        <% end %>
                        <%= f.submit 'Update description' %>
                      <% end %>
                    </div>
                </div>
              </tg-wysiwyg>
          </div>
        </tg-item-wysiwyg>

        <section tg-attachments-drop="vm.addAttachments(files, false)" ng-show="vm.showAttachments()" class="attachments attachment-full" aria-hidden="false">
          <div class="attachments-header">
              <h3 class="attachments-title"><span class="attachments-num">0</span> <span translate="ATTACHMENT.SECTION_NAME" class="attachments-text">Attachments</span></h3>
              <div class="options">
                <div tg-check-permission="modify_issue" title="Add new attachment. " class="add-attach">
                    <button type="button" variant="primary" ng-click="displayAttachmentInput()" class="btn-icon add-attachment-button">
                      <tg-svg svg-icon="icon-add">
                          <svg class="icon icon-add" style="fill: ">
                            <use xlink:href="#icon-add" ng-attr-xlink:href="{{ '#' + svgIcon }}" ng-attr-href="{{ '#' + svgIcon }}" href="#icon-add">
                            </use>
                          </svg>
                      </tg-svg>
                    </button>
                    <input id="add-attach" type="file" ng-model="files" multiple="multiple" tg-file-change="vm.addAttachments(files, true)" class="ng-pristine ng-untouched ng-valid ng-empty" aria-invalid="false">
                </div>
              </div>
          </div>
        </section>

        <section ng-if="vm.showHistorySection()" class="history">
          <tg-history-tabs show-comment-tab="vm.showCommentTab()" show-activity-tab="vm.showActivityTab()" on-active-comments="vm.onActiveHistoryTab(true)" on-active-activities="vm.onActiveHistoryTab(false)" active-tab="vm.viewComments" on-order-comments="vm.onOrderComments()" comments-num="vm.commentsNum" activities-num="vm.activitiesNum" on-reverse="vm.reverse">
              <nav class="history-tabs">
                <a href="/projects/<%= @project.id %>/issues/<%= @issue.id %>" title="" ng-click="onActiveComments()" ng-class="{active: activeTab}" translate="COMMENTS.COMMENTS_COUNT" translate-values="{comments: commentsNum}" class="history-tab" style="">Comments</a>
                <a href="/projects/<%= @project.id %>/issues/<%= @issue.id %>/activities" title="Activities" class="history-tab active" style="">Activities</a>
              </nav>
          </tg-history-tabs>
        </section>

        <section class="activities">
            <div class="activities wrapper" style="display: flex; flex-direction: column;">

                <% @activities.each do |activity| %>
                    <div class="activity">
                        <div class="activity-main">
                            <div class="activity-data">
                                <span class="activity-creator"><%= activity.user.username %></span><span class="activity-date"><%= (activity.created_at + time = Time.parse("02:00:00").seconds_since_midnight.seconds).strftime('%H:%M - %d/%m/%Y') %></span>
                            </div>
                            <div class="activity-diff">
                                <div class="diff-wrapper">
                                    <div class="diff-status-wrapper">
                                        <span class="key"><%= activity.message.capitalize() %></span>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                <% end %>

            </div>
        </section>



      </div>
    </div>



    <sidebar class="sidebar ticket-data" style="">
      <span class="ticket-title ng-pristine ng-untouched ng-valid ng-not-empty">
        <span translate="COMMON.STATUS.CLOSED"><%= @issue.status.capitalize() %></span>
        <span>
          <%= form_for @issue, url: '/projects/' + @project.id.to_s + '/issues/' + @issue.id.to_s + '/status', method: :put do |f| %>
            <%= f.select :status, options_for_select(Issue.statuses.keys, @issue.status), {}, :onchange => 'this.form.submit();' %>
          <% end %>
        </span>
      </span>

      <section class="ticket-section ticket-data-container">
        <div tg-issue-type-button="" ng-model="issue" class="ticket-status ng-pristine ng-untouched ng-valid ng-not-empty" aria-invalid="false" style="">
            <div class="type-data clickable">
              <div translate="COMMON.FIELDS.TYPE" class="label level-name">Type</div>

              <div class="level-field" style="display: flex; align-items:center;">

                <%= form_for @issue, url: '/projects/' + @project.id.to_s + '/issues/' + @issue.id.to_s + '/type', method: :put do |f| %>
                  <%= f.select :issue_type, options_for_select(Issue.issue_types.keys, @issue.issue_type), {}, :onchange => 'this.form.submit();' %>
                <% end %>

                <% if @issue.bug? %>
                  <div class="level" style="background-color: rgb(228, 64, 87); margin-left: 10px;" title="Bug"></div>
                <% elsif @issue.question? %>
                  <div class="level" style="background-color: rgb(81, 120, 211); margin-left: 10px;" title="Question"></div>
                <% else %>
                  <div class="level" style="background-color: rgb(64, 228, 206); margin-left: 10px;" title="Enhancement"></div>
                <% end %>

              </div>

            </div>
        </div>
        <div tg-issue-severity-button="" ng-model="issue" class="ticket-status ng-pristine ng-untouched ng-valid ng-not-empty" aria-invalid="false">
            <div class="severity-data clickable">
              <div translate="COMMON.FIELDS.SEVERITY" class="label level-name">Severity</div>

                <div class="level-field" style="display: flex; align-items:center;">

                  <%= form_for @issue, url: '/projects/' + @project.id.to_s + '/issues/' + @issue.id.to_s + '/severity', method: :put do |f| %>
                    <%= f.select :severity, options_for_select(Issue.severities.keys, @issue.severity), {}, :onchange => 'this.form.submit();' %>
                  <% end %>

                  <% if @issue.wishlist? %>
                    <div class="level" style="background-color: rgb(112, 114, 143); margin-left: 10px;" title="Wishlist"></div>
                  <% elsif @issue.minor? %>
                    <div class="level" style="background-color: rgb(64, 168, 228); margin-left: 10px;" title="Minor"></div>
                  <% elsif @issue.norm? %>
                    <div class="level" style="background-color: rgb(64, 228, 124); margin-left: 10px;" title="Normal"></div>
                  <% elsif @issue.important? %>
                    <div class="level" style="background-color: rgb(228, 162, 64); margin-left: 10px;" title="Important"></div>
                  <% else %>
                    <div class="level" style="background-color: rgb(211, 84, 80); margin-left: 10px;" title="Critical"></div>
                  <% end %>

                </div>

            </div>
        </div>
        <div tg-issue-priority-button="" ng-model="issue" class="ticket-status ng-pristine ng-untouched ng-valid ng-not-empty" aria-invalid="false">
            <div class="priority-data clickable">
              <div translate="COMMON.FIELDS.PRIORITY" class="label level-name">Priority</div>
              
                <div class="level-field" style="display: flex; align-items:center;">

                  <%= form_for @issue, url: '/projects/' + @project.id.to_s + '/issues/' + @issue.id.to_s + '/priority', method: :put do |f| %>
                    <%= f.select :priority, options_for_select(Issue.priorities.keys, @issue.priority), {}, :onchange => 'this.form.submit();' %>
                  <% end %>

                  <% if @issue.low? %>
                    <div class="level" style="background-color: rgb(168, 228, 64); margin-left: 10px;" title="Low"></div>
                  <% elsif @issue.normal? %>
                    <div class="level" style="background-color: rgb(228, 206, 64); margin-left: 10px;" title="Normal"></div>
                  <% else %>
                    <div class="level" style="background-color: rgb(228, 124, 64); margin-left: 10px;" title="High"></div>
                  <% end %>

                </div>

            </div>
        </div>
      </section>

      <section tg-assigned-to="" ng-model="issue" required-perm="modify_issue" class="ticket-section ng-pristine ng-untouched ng-valid ng-not-empty" aria-invalid="false" style="">
        <div class="ticket-section-label"><span>Assigned</span></div>
        <div class="ticket-user-list-container">
            <div class="ticket-user-list-content">
              <div class="ticket-user-list">
              </div>
              <div ng-if="isEditable" class="ticket-users-actions" style="">
                  <a ng-click="openAssignedUsers()" class="ticket-users-action">
                    <tg-svg svg-icon="icon-add" class="users-action icon">
                        <svg class="icon icon-add" style="fill: ">
                          <use xlink:href="#icon-add" ng-attr-xlink:href="{{ '#' + svgIcon }}" ng-attr-href="{{ '#' + svgIcon }}" href="#icon-add">
                          </use>
                        </svg>
                    </tg-svg>
                    <span>Add assigned</span>
                  </a>
              </div>
            </div>
        </div>
      </section>

      <section tg-watchers="" item="issue" active-users="activeUsers" on-watch="ctrl.onWatch" on-unwatch="ctrl.onUnwatch" required-perm="modify_issue" class="ticket-section ticket-watchers">
        <div class="ticket-section-label">
            <span>Watchers</span>
        </div>
        <div class="ticket-user-list-container">
            <div class="ticket-user-list-content">
              <div class="ticket-user-list">

                <% @watchedIssues.each do |issue| %>
                  <div class="user-list-single">
                      <div class="user-list-avatar"><img tg-avatar="watcher" alt="xaviergarciaorihuela" src="https://www.gravatar.com/avatar/b135e04df04c071ac561da05d2f955e4?s=200&amp;d=https%3A%2F%2Ftree.taiga.io%2Fv-1678696193151%2Fimages%2Fuser-avatars%2Fuser-avatar-02.png" title="xaviergarciaorihuela" style="background: rgb(178, 176, 204);"></div>
                      <a href="/profile/<%= issue.user.email %>" class="user-list-name"><span><%= issue.user.username %></span></a>
                      <%= button_to 'X', '/projects/' + @project.id.to_s + '/issues/' + @issue.id.to_s + '/delete_watcher/' + issue.user.id.to_s, method: :delete %>
                  </div>
                  
                <% end %>

              </div>
              <div class="ticket-users-actions">
                  <a href="/projects/<%= @project.id %>/issues/<%= @issue.id %>/add_watchers_view" class="ticket-users-action" style="">
                    <tg-svg svg-icon="icon-add" class="users-action icon">
                        <svg class="icon icon-add" style="fill: ">
                          <use xlink:href="#icon-add" ng-attr-xlink:href="{{ '#' + svgIcon }}" ng-attr-href="{{ '#' + svgIcon }}" href="#icon-add">
                          </use>
                        </svg>
                    </tg-svg>
                    <span>Add watchers</span>
                  </a>
              </div>
            </div>
        </div>
      </section>
      <section class="ticket-section ticket-detail-settings" style="flex-direction: column;">


        <div>
          <% if @issue.limitDate? %>
            <%= link_to 'Date', '/projects/' + @project.id.to_s + '/issues/' + @issue.id.to_s + '/date', class: 'btn-icon due-date-button is-editable active' %>
          <% else %>
            <%= link_to 'Date', '/projects/' + @project.id.to_s + '/issues/' + @issue.id.to_s + '/date', class: 'btn-icon button-delete' %>
          <% end %>
          
        </div>

        <p></p>

        <div>
          <div style="float: right; width: auto;">
            <% if @issue.blocked? %>
                <%= button_to 'Unblock', '/projects/' + @project.id.to_s + '/issues/' + @issue.id.to_s + '/block', method: :put, class: 'btn-icon button-lock editable item-unblock' %>
            <% else %>
              <%= button_to 'Block', '/projects/' + @project.id.to_s + '/issues/' + @issue.id.to_s + '/block', method: :put, class: 'btn-icon button-delete' %>
            <% end %>
          </div>
        </div>

        <p></p>

        <div>
            <%= button_to 'Delete', '/projects/' + @project.id.to_s + '/issues/' + @issue.id.to_s, method: :delete, class: 'btn-icon button-delete' %>
        </div>
      </section>
    </sidebar>
  </div>
</div>