<tg-lightbox-close style="display: inline;">
   <a class="close" ng-click="onClose()" href="<%= issue_path(@project.id, @issue.id) %>" title="close">
      <tg-svg svg-icon="icon-close">
         <svg class="icon icon-close" style="fill: ">
            <use xlink:href="#icon-close" ng-attr-xlink:href="{{ '#' + svgIcon }}" ng-attr-href="{{ '#' + svgIcon }}" href="#icon-close">
            </use>
         </svg>
      </tg-svg>
   </a>
</tg-lightbox-close>
<div class="form lb-select-user-form" style="display: block;">
   <h2 class="title">Change assigned</h2>
   <div class="lb-user-list lb-select-user-list">

      <% @possibleAssigned.each do |assigned| %>

         <form action="<%= issue_change_assigned_path(@project.id, @issue.id) %>" method="put" class="">
            <input type="hidden" id="user_id" name="user_id" value="<%= assigned.id %>"/>
            <button type="submit" class="user-list-item" style="width:100%">
               <div class="user-list-avatar">
                  <% if assigned.avatar.attached? %>
                     <%= image_tag assigned.avatar.variant(:comment), :class => "comment-avatar" %>
                  <% else %>
                     <img tg-avatar-big="vm.user" alt="Profile picture" class="comment-avatar" src="https://www.gravatar.com/avatar/75bc64a04cf29ae6dd87d3958455e16d?s=200&amp;d=https%3A%2F%2Ftree.taiga.io%2Fv-1678696193151%2Fimages%2Fuser-avatars%2Fuser-avatar-05.png" title="Profile picture" style="background: rgb(183, 203, 131);">
                  <% end %>
               </div>
               <div ng-if="item.type == 'user'" class="user-list-name"><%= assigned.username %></div>
            </button>
         </form>
      
      <% end %>
   </div>
</div>
