<h1>Add Member to
  <%= @project.name %></h1>

<%= form_for @membership, url: project_memberships_path(@project) do |f| %>
  <%= f.label :user_id, "Select User" %>
  <%= f.collection_select :user_id, User.all, :id, :email %>
  <%= f.submit "Add Member" %>
<% end %>
