<div ng-view="" class="master" style="">
    <div ng-if="vm.user" class="profile centered">
        <tg-profile-bar user="vm.user" iscurrentuser="vm.isCurrentUser">
            <section class="profile-bar">
                <div class="profile-image-wrapper is-current-user">
                    <% if @profile.avatar.attached? %>
                        <%= image_tag @profile.avatar.variant(:profileShow) %>
                    <% else %>
                        <img tg-avatar-big="vm.user" alt="Profile picture" class="profile-img" src="https://www.gravatar.com/avatar/75bc64a04cf29ae6dd87d3958455e16d?s=200&amp;d=https%3A%2F%2Ftree.taiga.io%2Fv-1678696193151%2Fimages%2Fuser-avatars%2Fuser-avatar-05.png" title="Profile picture" style="background: rgb(183, 203, 131);">
                    <% end %>
                    <% if @profile.email == current_user.email %>
                        <a title="User Settings" tg-nav="user-settings-user-profile" translate="USER.PROFILE.USER_SETTINGS" class="profile-edition" href="/profile/<%= @profile.email %>/edit">User Settings</a>
                    <% end %>
                </div>
                <div class="profile-data">
                    <h1 class="not-full-name"><%= @profile.username %></h1>
                    <div class="username" style="word-wrap: break-word;"><%= @profile.email %></div>
                </div>
                <% if @profile.bio.length != 0 %>
                    <div class="profile-quote" style="background: url(https://tree.taiga.io/v-1678696193151/images/quote.png) no-repeat top left">
                        <span><%= @profile.bio %></span>
                    </div>
                <% end %>
            </section>
        </tg-profile-bar>
        <div class="main">
                    </tg-profile-bar>
        <div class="main">
            <tg-profile-tabs class="timeline-wrapper">
                <div>
                <nav class="profile-content-tabs">
                    <a href="/profile/<%= @profile.email %>"title="Show all the activity of this user" class="tab active" style="">
                        <span>Timeline</span>
                    </a>
                    <a href="/profile/<%= @profile.email %>/issues_watched"title="List all issues watched by this user" class="tab" style="">
                        <span>Issues Watched</span>
                    </a>
                </nav>
                <ng-transclude>
                    <div tg-profile-tab="Timeline" tab-title="Show all the activity of this user" tab-icon="icon-timeline" tab-active="tab-active">
                        <div ng-if="tab.active" class="" style="">
                            <ng-transclude>
                                <div tg-user-timeline="tg-user-timeline" user="vm.user" current-user="vm.isCurrentUser">
                                    <section class="profile-timeline">
                                        <div infinite-scroll="vm.loadTimeline()" infinite-scroll-disabled="vm.scrollDisabled" ng-if="vm.timelineList.size" class="" style="">
                                            
                                            <% @timelineEvents.each do |timelineEvent| %>

                                                <div tg-repeat="timeline in vm.timelineList" tg-user-timeline-item="timeline">

                                                    <div class="activity-item"><span class="activity-date"><%= (timelineEvent.created_at + time = Time.parse("02:00:00").seconds_since_midnight.seconds).strftime('%H:%M - %d/%m/%Y') %></span>

                                                        <div tg-user-timeline-title="timeline" class="activity-info"></div>
                                                        <div class="activity-info">

                                                            <div ng-if="timeline.getIn(['data', 'user', 'is_profile_visible'])" class="profile-contact-picture">
                                                                <a tg-nav="user-profile:username=timeline.getIn(['data', 'user', 'username'])" title="<%= @profile.email %>" href="/profile/<%= @profile.email %>">
                                                                    <% if @profile.avatar.attached? %>
                                                                        <%= image_tag @profile.avatar.variant(:timeline) %>
                                                                    <% else %>
                                                                        <img tg-avatar="timeline.getIn(['data', 'user'])" alt="undefined" src="https://www.gravatar.com/avatar/75bc64a04cf29ae6dd87d3958455e16d?s=200&amp;d=https%3A%2F%2Ftree.taiga.io%2Fv-1678696193151%2Fimages%2Fuser-avatars%2Fuser-avatar-05.png" title="undefined" style="background: rgb(183, 203, 131);">
                                                                    <% end %>
                                                                </a>
                                                            </div>
                                                            
                                                            <p tg-compile-html="timeline.get('title_html')">
                                                                <a tg-nav="user-profile:username=timeline.getIn(['data', 'user', 'username'])" href="/profile/<%= @profile.email %>">
                                                                    <span ng-non-bindable="true"><%= @profile.username %></span>
                                                                </a>
                                                                <span><%= timelineEvent.message %> on issue </span>
                                                                <a href="/projects/<%= timelineEvent.issue.project_id %>/issues/<%= timelineEvent.issue.id %>">
                                                                    <span ng-non-bindable="true">#<%= timelineEvent.issue.id %> <%= timelineEvent.issue.subject %></span>
                                                                </a>
                                                            </p>
                                                            
                                                        </div>
                                                    </div>
                                                </div>

                                            <% end %>
                                        
                                        </div>
                                    </section>
                                </div>
                            </ng-transclude>
                        </div>
                    </div>
                    <div tg-profile-tab="Watched" tab-title="List all item watched by this user" tab-icon="icon-watch">
                        <div ng-if="tab.active" class="" style="">
                            <ng-transclude>
                                <div tg-profile-watched="tg-profile-watched" user="vm.user">
                                    <section class="profile-favs">
                                        <div infinite-scroll="vm.loadItems()" infinite-scroll-disabled="vm.scrollDisabled">


                                        </div>
                                    </section>
                                </div>
                            </ng-transclude>
                        </div>
                    </div>
                </ng-transclude>
                </div>
            </tg-profile-tabs>
            
            <aside class="profile-sidebar">
                <% if @profile.email == current_user.email %>
                    <div ng-if="::vm.isCurrentUser">
                        <h4 translate="USER.PROFILE_SIDEBAR.TITLE">Your profile</h4>
                        <p translate="USER.PROFILE_SIDEBAR.DESCRIPTION">People can see everything you do and what you are working on. Add a nice bio to give an enhanced version of your information.</p>
                        <a href="/profile/<%= @profile.email %>/edit" class=btn-big edit-profile">Edit bio</a>
                    </div>
                <% end %>
                <div tg-profile-hints="tg-profile-hints" class="profile-hints">
                    <h4>
                        <span translate="HINTS.SECTION_NAME">Hint</span>
                    </h4>
                    <p>Did you forget what were you working on?</p>
                    <p>
                        Don't worry, on your dashboard you'll find your open tasks, issues, and user stories in the order you worked on them.
                        &nbsp;
                    </p>
                </div>
            </aside>
        </div>
    </div>
</div>